* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, "Font Awesome 5 Free", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(20, 21, 28, 0.7);
    border-bottom: 2px solid rgba(80, 90, 95, 0.8);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #44525D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#disk,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-calendar,
#custom-ping,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 3px;
    color: #ffffff;
    background-color: #44525D;
}

#battery.unknown {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging {
    color: #000000;
    background-color: #1DB954;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected,
#custom-ping.disconnected {
    background-color: #f53c3c;
}
#custom-ping.high-latency {
    background-color: #F4B400;
    color: #000000;
}

#pulseaudio:not(.muted) {
    background-color: #1DB954;
    color: #000000;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    /* https://developer.spotify.com/branding-guidelines/ */
    background-color: #1DB954;
    color: #191414;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#custom-calendar {
    min-width: 200px;
}
#custom-calendar.past {
    background-color: #ffffff;
    color: #000000;
}
#custom-calendar.soon9 {
    background-color: #49546a;
}
#custom-calendar.soon8 {
    background-color: #4d5276;
}
#custom-calendar.soon7 {
    background-color: #545083;
}
#custom-calendar.soon6 {
    background-color: #645290;
}
#custom-calendar.soon5 {
    background-color: #78539c;
}
#custom-calendar.soon4 {
    background-color: #9152a9;
}
#custom-calendar.soon3 {
    background-color: #af51b6;
}
#custom-calendar.soon2 {
    background-color: #c24fb1;
}
#custom-calendar.soon1 {
    background-color: #dc4887;
}
#custom-calendar.soon0 {
    background-color: #f53c3c;
}
#custom-calendar.error {
    background-color: #f53c3c;
}

#temperature.critical {
    background-color: #f53c3c;
}

#tray {
    background-color: transparent;
    padding: 0 5px;
}
